.petals{
    width: 100px;
    height: 100px;
    background-color: green;
    border-radius: 0 100%;
    position: relative;
    top: 100px;
    left: 100px;
    transform-origin: right bottom;
}

#primer{
    top: 100px;
}
#segon{
    top: 0;
    transform: rotate(60deg);
}
#tercer{
    top: -100px;
    transform: rotate(120deg);
}
#quart{
    top: -200px;
    transform: rotate(180deg);
}
#cinque{
    top: -300px;
    transform: rotate(240deg);
}
#sise{
    top: -400px;
    transform: rotate(300deg);
}

.cor{
    width:50px;
    height:50px;
    background-color: orange;
    border-radius: 50%;
    position: relative;
    top: -425px;
    left: 175px;
}

.flor{
    width: 400px;
    height: 400px;
    float: left;
    
}

.flor:hover{
    animation-name: rotació ;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes rotació{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}